<div class="container mt-5">
  <h2 class="d-flex justify-content-center">Account Login</h2>
  <form action="/" method="POST">
    <div class="row d-flex justify-content-center mt-4 mb-3">
      <div class="col-4">
        <input type="email" class="form-control" placeholder="Email: name@example.com" name="account" id="account">
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-4 mb-3">
      <div class="col-4">
        <input type="password" class="form-control" placeholder="Password" name="password" id="password">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-outline-secondary">Sign in</button>
    </div>
  </form>
</div>